@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,500;0,900;1,100&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
    --secondary-color: #917FB3;
    --text-color: #454545;
    --text-white: white;
    --text-black: rgb(30, 30, 30);
    --primary-bg: #c0d4f2;
    --heading-color: #4b81e2;
    --item-bg: #f5f4f0;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: var(--primary-bg);
    color: var(--text-black);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--heading-color);
}

header{
    padding: 0 60px;
}

.site-logo>h2 {
    color: var(--text-black);
    font-weight: 600;
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content:center;
}

.container {
    max-width: 1300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.designation>h1 {
    font-size: 60px;
    text-align: left;
}

button {
    background: var(--heading-color);
    color: var(--text-white);
    padding: 14px;
    outline: none;
    border-radius: 21px 6px;
    border: none;
    width: 136px;
    cursor: pointer;
}

.col-md-6{
    width: 50%;
}

nav {
    padding: 20px;
}

.hero {
    background: #c0d4f2;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);
}

.my-image>img {
    max-width: 500px;
}


@media (max-width: 1076px){
    .container{
        flex-direction: column;
        padding: 5px;
    }

    .designation >h1,p{
        text-align: center;
    }

    .my-image > img{
        width: 430px;
    }

    header{
        padding: 0 5px;
    }

    .col-md-6{
        width: auto;
    }

    .designation {
        padding: 7px;
    }
}